//Nextflow config file for running tests
params {
  DOWNDIR                = "$HOME"
  // Input data
  reads                  = "inputs/*.fastq.gz"
  mate                   = "single"
  genome_build           = "mousetest_mm10"
  run_Bowtie2            = "yes" 
  run_ATAC_MACS2         = "yes"
  run_Sequential_Mapping = "yes"
  run_IGV_TDF_Conversion = "yes" 
  run_RSeQC              = "yes" 
  run_Picard_CollectMultipleMetrics = "yes" 
  run_BigWig_Conversion  = "yes" 
  run_FastQC             = "yes"
  run_Trimmer            = "yes"
  run_Quality_Filtering  = "yes"
  run_Adapter_Removal    = "yes"
  run_checkAndBuild      = "yes"
  run_Remove_Multimappers_with_Picard = "yes" 
  
  // Process Parameters for ATAC_Module_ATAC_Prep:
  ATAC_Module_ATAC_Prep.macs2_callpeak_parameters = "--nomodel -q 0.0001 --call-summits" 
  ATAC_Module_ATAC_Prep.band_width = "29" 
  ATAC_Module_ATAC_Prep.bedtoolsCoverage_Parameters = "-sorted -nobuf -hist"
  ATAC_Module_ATAC_Prep.compare_Custom_Bed = "" 
  ATAC_Module_ATAC_Prep.output_prefix = ["control_rep1_sm","exper_rep1_sm"] 
  ATAC_Module_ATAC_Prep.sample_prefix = ["control_rep1_sm","exper_rep1_sm"]  
  ATAC_Module_ATAC_Prep.input_prefix = ["",""] 
  
  // Process Parameters for Sequential_Mapping_Module_Sequential_Mapping:
  Sequential_Mapping_Module_Sequential_Mapping.remove_duplicates = "yes" 
  Sequential_Mapping_Module_Sequential_Mapping.remove_duplicates_based_on_UMI_after_mapping = "no" 
  Sequential_Mapping_Module_Sequential_Mapping._select_sequence = ["ercc","rmsk","genome"] 
  Sequential_Mapping_Module_Sequential_Mapping.index_directory = ["","",""] 
  Sequential_Mapping_Module_Sequential_Mapping.name_of_the_index_file = ["ercc","rmsk","genome"] 
  Sequential_Mapping_Module_Sequential_Mapping._aligner = ["bowtie","bowtie2","STAR"] 
  Sequential_Mapping_Module_Sequential_Mapping.aligner_Parameters = ["--threads 1","-N 1","--runThreadN 1"] 
  Sequential_Mapping_Module_Sequential_Mapping.description = ["ercc","rmsk","genome"] 
  Sequential_Mapping_Module_Sequential_Mapping.filter_Out = ["No","Yes","No"] 
  // Load base config after genome_build and DOWNDIR is defined  
  includeConfig 'base.config'
}